{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    </head>
    <body>
        <div class="sidebar">
            <h1>Youngheon Jeong</h1>
            <nav>
                <ul>
                    <li><a href="/">About</a></li>
                    <li><a href="http://127.0.0.1:8000/project/">Projects</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div>
                <h1>About me</h1>
                <h3>I am currently studying backend developing</h3>
                <h3>Majoring Chinese Language and Literature</h3>
            </div>
        </div>
    </body>
</html>
