{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>create</title>
        <link rel="stylesheet" href="{% static 'create.css' %}" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    </head>
    <body>
        <div id="createContainer">
            <h2>할 일 추가하기</h2>
            <form action="{% url 'create' %}" method="post">
                {% csrf_token %} {{form.as_p}}
                <input type="submit" value="작성완료" />
            </form>
        </div>
    </body>
</html>
