.container {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: 10px solid green;
}

a {
    color: white;
}

a:visited {
    color: white;
}

ul,
ol {
    list-style-type: none;
}
