body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

#listContainer {
    border: 2px solid white;
    padding: 50px;
}

.individualList {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    padding: 0 30px;
}

#addButton {
    text-align: center;
    border: 2px solid white;
}
